*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.leftDiv img{
   width: 100%;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    background-color: #000;
}

.data {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
    margin-right: 2rem;
    background-color: transparent;
    border-radius: 0.5rem solid black;
    box-shadow: 0 0.25rem 0.5rem rgba(6, 1, 1, 0.3);
}
.container h1 {
    font-size: 2rem;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
}

.form label {
    color: #ffea00;
    font-size: large;
    font-weight: 400;
    text-shadow: 0.5px 1px #000;}

.container input {
       
 height: 2.5rem;
 width: 20vw;
 margin-top: 0.5rem;
 margin-bottom: 2rem;
 border: none;
 border-radius: 6px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.container button {
 
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023e8a;
    border-radius: 8px;
    box-shadow: 0 5px 0 #240046;
    color: #eae2b7;
    text-shadow: 0 0.2px 0.5px #000;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    padding: 12px 20px ;
    transition: all .1s linear;
   margin-bottom: 3rem;
    
}
.data p{
    font-size: 1rem;
    margin: 0;
    /* font-weight: 400;
    color: white;
     text-align: center; */
}
.link{
    color: lightgreen;
}

.container button:hover {
    background-color:tomato;
}
.container span{
    margin-bottom: 10px;
    color: red;
}
