.container{
  background-color: #000814;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* .image_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;

}  */

.img_div {
  width: 60%;
  height: 80vh;
  /* border: red 2px solid; */
  object-fit: cover;
}

img{
width: 100%;
height: 100%;
}
.textContent{
  width: 40%;
  height: 80vh;
  /* border: red 2px solid; */
  display: flex;
  align-items: center;
}

p {
  /* margin-top: 10px; */
  /* margin-left: 5rem; */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #d5bdaf;
}
@media screen and (max-width: 720px) {
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textContent{
   
   width: 60%;
   font-size: 1em;
  }
  
  
}