.container{
  background-color: #000814;
  height: 150vh;
}
.image_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;

} 

img {
  width: 65%;
  height: 88vh;
  object-fit: cover;
}

p {
  margin-top: 10px;
  /* margin-left: 5rem; */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #d5bdaf;
}
@media screen and (max-width: 1020px) {
  .image_container{
    display: flex;
    flex-direction: column;
  }
  .textContent{
    text-align: center;
   width: 60%;
   font-size: 1em;
  }
  
}