.main_div{
    height: 100%;
}
.RegistrationPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://trumpwallpapers.com/wp-content/uploads/Workout-Wallpaper-01-1600-x-843.jpg');
    background-size: cover;
    background-position: center;
    height: 120vh;
    
}

.data {
    /* border: 2px solid red; */
    width: 25vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* max-width: 240px; */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.data p{
    color: red;
    font-size: small ;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    /* padding: 10px; */
    margin: -.4em;
    border-radius: 5px;
    border: none;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #1E90FF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1rem;
    width: 20vw;

}

span {
    color: red;
    /* margin-bottom: 10px; */
}
button:hover {
    background-color:#008B8B;;
}

button:active {
    background-color: #00CED1;
}


@media screen and (max-width: 768px) {
    .data {
        padding: 20px;
    }

    label {
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
        padding: 8px;
        margin-bottom: 10px;
    }

    button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .data {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    label {
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
        padding: 6px;
        margin-bottom: 10px;
    }

    button {
        font-size: 1rem;
        padding: 8px 12px;
    }

    span {
        font-size: 1rem;
    }
}