.RegistrationPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #000;
}

.leftDiv img{
    width: 100%;
    height: 100vh;
}
.RegistrationPage h1 {
    color: whitesmoke;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.data{
    
    padding: 3em;
}


.RegistrationPage form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
    background-color:transparent;
    border-radius: 0.5rem solid #000;
    box-shadow: 0 0.25rem 0.5rem rgba(6, 1, 1, 0.3);
}

.RegistrationPage label {
    color: #ffea00;
    font-size: large;
    font-weight: 400;
    text-shadow: 0.5px 1px #000;

}

.RegistrationPage input {
           
 height: 2.5rem;
 /* padding: 0.5em; */
 width: 20vw;
 margin-top: 0.5rem;
 /* margin-bottom: 2rem; */
 border: none;
 border-radius: 6px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

}

.RegistrationPage p {
    color: red;
    /* margin: 1rem 0; */
    margin-top: -5px;
    margin-left: 1em;
}
.RegistrationPage span {
    color: white;
    /* margin: 1rem 0; */
    margin-top: -5px;
    margin-left: 1em;
}


.RegistrationPage button[type="submit"] {
 
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023e8a;
    border-radius: 8px;
    box-shadow: 0 5px 0 #240046;
    color: #eae2b7;
    text-shadow: 0 0.2px 0.5px #000;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    padding: 12px 20px ;
    transition: all .1s linear;
   margin-bottom: 3rem;

}

.RegistrationPage button[type="submit"]:hover {
    background-color: #3e8e41;
}
