.homeImg{
    margin: 0;
    padding: 0;
    background-image: url("../../assets/img_1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.homeContent{
    color: white;
    width: 50%;
    margin-top: 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    
}
hr{
    color: red;
}