.main_aboutdiv{
    display: flex;
    padding: 4em;
    margin: 0;
    gap: 30px;
}
@media only screen and  (max-width: 1020px){
    .main_aboutdiv{
        display: block;
        max-width: 70vw;
    }
}