.profiles{
    display: flex;
    
    gap: 20px;
    /* margin-left: 15em; */
    padding: 10px;
    max-width: 700px;
    overflow-x: scroll;
    height: 200px;
    scroll-behavior: smooth;
    flex-wrap: nowrap; 
    /* border: 2px solid rgb(224, 12, 12); */
    /* background-color :aliceblue; */
}
.profiles::-webkit-scrollbar {
    display: none;
}
.imgdiv{
    /* border: 2px solid gray; */
    min-width: 20vw;
    height: 30vh;
    
}
.img{
    filter: blur(1px);
    width: 200px;
    height: 200px;
    
}
.profileDiv{
    
   
    text-align: center;
    min-width: 250px;
    
    object-fit: cover;
    position: relative;   
}
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
  }
  .main_div{
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    
  }
  .h1{
    margin: 1em;
    color: tomato;
  }
  .map{
    display: flex;
    justify-content: center;
   
    
  }
  
  .Training_img{
    width: 200px;
    height: 200px;
   
   
  }