.main_footer{
    /* border: 2px solid red; */
    margin-top: 2em;
    display: flex;
    padding: 2em;
   
}
.bkimg{
    background-image: url('https://images.unsplash.com/photo-1597076545399-91a3ff0e71b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw4MTcyNDYxfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60');
}
.leftside{
 width: 40%;
}
.leftside p{
    color: aliceblue;
    font-style:inherit;
    font-size: medium;
}
.leftside h1{
    color: red;
}
.table td{
    color: aliceblue;
    font-size: large;
    font-style:italic;
   
}
.table{
    /* border: 2px solid rebeccapurple; */
    width: 100vw;
    
}
.copy{
    color: azure;
    display: flex;
    justify-content: center;
}