.homeImg{
    /* width: 100%; */
    margin: 0;
    padding: 0;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/787/610/414/muscle-press-pose-athlete-workout-hd-wallpaper-preview.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.homeContent{
    color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    
}

