.main_Navdiv {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4.5em;
    background-color: rgb(57, 73, 105);
    box-shadow: 2px 2px 10px rgb(198, 186, 186);
    position: sticky;
    top: 0;
    /* z-index: 9999; */
    /* background: transparent; */
    
}

.link_div,
li {
    display: flex;
    gap: 50px;
    color: azure;
    margin-top: 2vh;
    font-size: large;
    
}


.btn {
    
    /* margin-top: 2vh; */
    height: 6vh;
    width: 8vw;
    background-color: tomato;
    border: none;
    border-radius: 7px;
    color: aliceblue;
    font-size: medium;
    cursor: pointer;
}
.btn_div{
    display: flex;
    align-items: center;
}

.logo h1 {
    color: red;
    list-style: none;
    margin-top: .5em;
}
.userlogo{
   
    margin-left: -4em;
    margin-top: 1em;
}
.userlogo p{
    color: red;
}

.mobileIcon{
    visibility: hidden;
}

.hideIcon{
    display: none;
}
.icon{
    position: absolute;
    left: 10em;
}
.icon span{
    color:aquamarine;
}
.icon h1{
    color: red;
    
}

.menuIcon{
    display: none;
}

@media screen and (max-width: 1020px ) {
    .logo{
        display: none;
    }
    .link_div{
        display: none;
    }
    .btn{
        display: none;
    }
    .menuIcon{
        display: flex;
        position: absolute;
        right: 2em;
        top: 0.5em;
        font-size: 30px;
        color: red;
    }
    .mobileLink{
        /* border: 1px solid red; */
        /* background-color: rgb(194, 45, 11); */
        background-color: rgb(51, 75, 130);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        gap: .5em;
        margin-right: 4px;
        /* margin-top: 3em; */
        /* height: 30vh; */
        width: 100vw;
        
    }
    .mobileLink p{
         color: rgb(241, 230, 230);
        
         
    }

}
@media screen and (min-width: 1020px) { 

    .icon{
        display:none
    }
    .logo{
        visibility: visible;
    }
    .mobileLink{
        display: none;
    }
    
}
