.main_div{
    display: flex;
    justify-content: space-around;
    /* border: 2px red solid; */
    width: 100%;
    height: 40vh;
    
   
}
.bg{
    background-image: url('../../assets/img_10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.logo{
    width: 20%;
    text-align: center;
    
}
.table{
    /* border: 2px red solid; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    width: 15%;
    padding: 1em;
    /* margin: .5em; */
    height: auto;
    
}
.logo h1{
    color: red;
}
.logo p{
    color: whitesmoke;
}
.table p{
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table span{
    font-size: 15px;
    font-weight: bold;
    color: red;
}
.mediaIcon{
    display: flex;
    font-size: 2em;
    color: tomato;
    gap: 3rem;
    margin-left: 25px;
    cursor: pointer;
}
/* .insta{
    color: #c32aa3;
} */

.copy {
    text-align: center;
    height: 50px;

}
.copy p{
    color: whitesmoke;
}

@media screen and (max-width: 500px) {
    .table P{
        font-size: small;
    }
    .table span{
        font-size: small;
    }
    .logo{
        margin-left: 5px;
    }
    .logo h1{
        font-size: medium;
        
    }
    .logo p{
        font-size: small;
    }
    .mediaIcon{
        gap: 10px;
        font-size: x-large;
        margin-left: 0;
    }
    
}