.main_div{
    display: flex;
    justify-content: space-around;
    /* border: 2px red solid; */
    width: 100%;
    height: 60vh;
    
   
}
.bg{
    background-image: url('../../assets/img_10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.logo{
    width: 20%;
    
}
.table{
    /* border: 2px red solid; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    width: 15%;
    padding: 1em;
    margin: .5em;
    height: auto;
    
}
.logo h1{
    color: red;
}
.table p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table span{
    font-size: 15px;
    font-weight: bold;
    color: red;
}
.mediaIcon{
    display: flex;
    font-size: 2em;
    color: tomato;
    gap: 20px;
    margin: 1.5em;
    cursor: pointer;

}
.copy {
    
    height: 50px;
  
   
}